/* Стили для больших экранов (например, планшетов и компьютеров) */
.container {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
  font-size: 32px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#passwordDisplay {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

#copyPassword {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#copyPassword:hover {
  background-color: #2980b9;
}

/* Стили для маленьких экранов (мобильных устройств) */
@media (max-width: 600px) {
  .container {
    padding: 30px;
  }

  h1 {
    font-size: 26px;
  }

  button {
    font-size: 14px;
  }

  #passwordDisplay {
    font-size: 16px;
  }

  #copyPassword {
    font-size: 14px;
  }
}
